body{
    width: 1200px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}

.ask_btn{
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}


.contact_info{
    display: block;
}

.phon_nomber{
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color: #bebbcda2;
    border-radius: 10px;
    padding: 10px
}

.menu{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

.menu_border{
    border: 1px solid rgb(170, 207, 170);
    border-radius: 10px;
    padding: 10px 20px;
}
.menu a{
    text-decoration: none;
    color: black;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    
    
    top: 206px;
    color: gray ;
}

.title{
    display: flex;
}
.title_title{
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
}
.title_text{
    left: 150px;
    top: 396px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.ask_block{
    display: flex;
    padding: 16px 36px ;
    color: white;
    background-color: green;
    border-radius: 10px;
    font-weight: bold;
    display: block;
    border: none;
}
.ask_block_bk{
    display: flex;
    gap: 30px;
    top: 504px;

}
.nomber_block{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #33836E;
    flex: none;
}
.text_block{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: gray;
}
.container_title{

    display: flex;
    gap: 30px;
    flex-direction: row;
    
}

.text_title{

    font-style: normal;
    font-weight: 700;
    left: 150px;
    font-size: 32px;
    line-height: 44px;
}

.text_tx_title{

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    flex: none;

}

.container_info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 1140px;
    height: 180px;
    top: 115px;
}
.container_info_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 270px;
    height: 180px;
    border: 1px solid;
    border-radius: 20px;
}

.container_working{
    /* width: 1140px;
    height: 200px; */
    display: flex;
    background-color: #33836E;
    border-radius: 20px;
}
.info_working{
    /* display: flex; */
    

    gap: 10px;

}
.working_text{
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.working_nomber{
  
    font-style: normal;
    font-size: 42px;
    color: #FFFFFF;
}
.working_info{

    gap: 20px;
    top: 38px;

}
.info_text{
    
    font-size: 18px;
    display: flex;
    /* align-items: center;
    text-align: center; */
    color: #FFFFFF;
}

.small_container_help{
    display: flex;
    gap: 20px;
    top: 74px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.container_help_help{
    display: flex;
    align-items: normal;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
}
